.DS_Store
*.o
*.so
**/__pycache__
.ipynb_checkpoints
build/
Wasserstein Testing.ipynb
Wasserstein.sublime*
Wasserstein.egg-info
wasserstein_noomp.cpp
dist/
.pytest_cache/
.eggs/
mkdocs/
examples/*_example
**/.deps
