name: Tests

on:
  push:
    branches:
      - master

env:
  PYPI: 0
  PYPITEST: 1
  TWINE_USERNAME: __token__
  TWINE_PASSWORD_PYPITEST: ${{ secrets.TWINE_PASSWORD_PYPITEST }}
  TWINE_PASSWORD_PYPI: ${{ secrets.TWINE_PASSWORD_PYPI }}

jobs:
  linux-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install Python packages
        run: |
          python3 -m pip install -i https://test.pypi.org/simple energyflow==1.3.3a0
          python3 -m pip install .[test] pytest
      - name: Test package
        run: pytest wasserstein

  macos-test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Compile and install libomp from source
        run: ./scripts/install-libomp-macos.sh
      - name: Install Python packages
        run: |
          python3 -m pip install -i https://test.pypi.org/simple energyflow==1.3.3a0
          python3 -m pip install .[test] pytest
      - name: Test package
        run: pytest wasserstein

  windows-test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install Python packages
        run: |
          python3 -m pip install -i https://test.pypi.org/simple energyflow==1.3.3a0
          python3 -m pip install .[test] pytest
      - name: Test package
        run: pytest wasserstein

  linux-build:
    runs-on: ubuntu-latest
    needs: [linux-test, macos-test, windows-test]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Build wheels and upload to PyPI
        run: ./scripts/build-wheels-and-upload.sh sdist

  macos-build:
    runs-on: macos-latest
    needs: [linux-test, macos-test, windows-test]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Compile and install libomp from source
        run: ./scripts/install-libomp-macos.sh
      - name: Build wheels and upload to PyPI
        run: ./scripts/build-wheels-and-upload.sh

  windows-build:
    runs-on: windows-latest
    needs: [linux-test, macos-test, windows-test]
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Build wheels and upload to PyPI
        shell: bash
        run: ./scripts/build-wheels-and-upload.sh
