name: Builds

on:
  push:
    branches:
      - master
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  make_sdist:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build SDist
        run: pipx run build --sdist

      - name: Upload SDist to GH
        uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  build_wheels:
    name: ${{ matrix.runs-on }} build
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest, windows-latest, macos-13]
    steps:
      - name: Checkout LLVM on macOS
        if: runner.os == 'macOS'
        uses: actions/checkout@v4
        with:
          repository: llvm/llvm-project
          ref: release/18.x
          path: llvm-project

      - name: Build OpenMP on macOS
        if: runner.os == 'macOS'
        env:
          MACOSX_DEPLOYMENT_TARGET: "10.9"
        working-directory: llvm-project
        run: |
          cmake \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_INSTALL_PREFIX=$(brew --prefix) \
            -DCMAKE_C_COMPILER=clang \
            -DCMAKE_CXX_COMPILER=clang++ \
            -DLIBOMP_INSTALL_ALIASES=OFF \
            -S openmp \
            -B build
          cmake --build build --parallel
          cmake --install build

      - name: Checkout Wasserstein repo
        uses: actions/checkout@v4

      - name: cibw-wheel
        uses: pypa/cibuildwheel@v2.21

      - name: Upload wheels to GH
        uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.runs-on }}
          path: wheelhouse/*.whl

  pypi-publish:
    name: Upload release to PyPI
    needs: [make_sdist, build_wheels]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    # Restrict to the environment set for the trusted publisher
    environment:
      name: pypi
      url: https://pypi.org/p/Wasserstein
    permissions:
      id-token: write
    steps:
      - name: Download wheels from GH
        uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Upload package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          print-hash: true
          attestations: true
